<div class="container" id="container">
  <div class="jumbotron py-3 md-5 md-2">
    <h1 class="display-4 text-center">Vendas</h1>
  </div>
  <div class="row">
    <div class="col-md-6">

      <app-vendas-detail-form></app-vendas-detail-form>
    </div>
    <div class="col-md-6">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Tipo de Venda</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Total</th>
            <th>Deletar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let venda of service.list">
            <td (click)="populateForm(venda)">{{venda.tipoVenda}}</td>
            <td (click)="populateForm(venda)">{{venda.marca}}</td>
            <td (click)="populateForm(venda)">{{venda.modelo}}</td>
            <td (click)="populateForm(venda)">{{venda.produto}}</td>
            <td (click)="populateForm(venda)">{{venda.quantidade}}</td>
            <td (click)="populateForm(venda)">{{venda.valor}}</td>
            <td (click)="populateForm(venda)">{{venda.quantidade*venda.valor}}</td>
            <td>
              <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(venda.vendasId)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
