<div class="container">
  <div class="jumbotron py-3">
    <h1 class="display-4 text-center">Estoque de Peças</h1>
  </div>

  <div class="row">
    <div class="col-md-6">
      <app-estoque-de-pecas-form ></app-estoque-de-pecas-form>

    </div>
    <div class="col-md-6">
      <div class="col-md-6">
        <p>
          Today's item: {{atributoVendas}}
        </p>
      </div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Tipo</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Deletar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vd of service.list">
            <td (click)="populateForm(vd)">{{vd.marca}}</td>
            <td (click)="populateForm(vd)">{{vd.modelo}}</td>
            <td (click)="populateForm(vd)">{{vd.tipo}}</td>
            <td (click)="populateForm(vd)">{{vd.quantidade}}</td>
            <td (click)="populateForm(vd)">{{vd.valor}}</td>
            <td>
              <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(vd.estoqueDePecasId)"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <hr>
    </div>
  </div>
</div>
